<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Input Page</title>
    <link rel="stylesheet" href="../css/stylesInput.css">
</head>

<body>
    
    <h1>Welcome, </h1>
    
    <h1>Please attach your file here to be analyzed by AI.</h1>


    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="file-upload-label">Attach a file:</label>
        <input type="file" id="file-upload" name="file-upload">
        <input type="submit" value="Upload">
    </form>