<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<img src="https://i.ibb.co/xCPq7zN/DALL-E-2024-09-28-15-58-05-A-dynamic-logo-for-a-basketball-application-that-analyzes-player-movement.webp" style="border: 20px solid black; margin-left: 50px; margin-top: 20px; border-radius: 30%;" width="200" height="200">

<button class="logIn" type="button">Log In</button> <!-- create a button to log in-->

<button class="signUp" type="button">Sign Up</button>

<body>
    <h1>Welcome to the future of basketball.</h1>

    <p class="prompt"> Click the button below to get started.</p>

    <button class="button" type="button">Ascend.</button> <!-- This is creating the button-->
</body> 




</html>